input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border: 2px solid black;
  outline: none;
}

.btn {
  background-color: transparent;
  border: 1px solid black;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  color: black;
  font-weight: 600;
  cursor: pointer;
  transition: border 0.1s ease-in-out;
}

.btn:hover {
  border: 2px solid black;
}
